In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/SalaryGender.csv')
df

    Salary  Gender  Age  PhD
0    140.0       1   47    1
1     30.0       0   65    1
2     35.1       0   56    0
3     30.0       1   23    0
4     80.0       0   53    1
..     ...     ...  ...  ...
95    18.6       1   26    0
96   152.0       1   56    1
97     1.8       1   28    0
98    35.0       0   44    0
99     4.0       0   24    0

[100 rows x 4 columns]

In [ ]:
x = df.iloc[:,[0,1,2,3]].values
x

array([[140.  ,   1.  ,  47.  ,   1.  ],
       [ 30.  ,   0.  ,  65.  ,   1.  ],
       [ 35.1 ,   0.  ,  56.  ,   0.  ],
       [ 30.  ,   1.  ,  23.  ,   0.  ],
       [ 80.  ,   0.  ,  53.  ,   1.  ],
       [ 30.  ,   0.  ,  27.  ,   0.  ],
       [ 60.  ,   1.  ,  53.  ,   0.  ],
       [ 31.1 ,   0.  ,  30.  ,   0.  ],
       [125.  ,   1.  ,  44.  ,   1.  ],
       [ 51.  ,   1.  ,  63.  ,   1.  ],
       [  3.  ,   1.  ,  22.  ,   0.  ],
       [ 46.  ,   1.  ,  59.  ,   0.  ],
       [150.  ,   1.  ,  60.  ,   1.  ],
       [  3.  ,   1.  ,  28.  ,   0.  ],
       [130.  ,   1.  ,  65.  ,   0.  ],
       [ 15.  ,   0.  ,  25.  ,   0.  ],
       [130.  ,   1.  ,  65.  ,   0.  ],
       [ 84.  ,   0.  ,  47.  ,   1.  ],
       [190.  ,   1.  ,  66.  ,   1.  ],
       [ 74.  ,   1.  ,  45.  ,   1.  ],
       [ 73.  ,   0.  ,  46.  ,   0.  ],
       [ 10.  ,   0.  ,  24.  ,   0.  ],
       [ 50.  ,   0.  ,  60.  ,   0.  ],
       [  7.  ,   0.  ,  63.  ,   0.  ],
       [  9.5 ,   0.  ,  27.  ,   0.  ],
       [ 15.2 ,   1.  ,  66.  ,   1.  ],
       [ 28.6 ,   1.  ,  36.  ,   1.  ],
       [ 20.  ,   0.  ,  30.  ,   0.  ],
       [ 72.  ,   0.  ,  51.  ,   1.  ],
       [ 81.  ,   1.  ,  65.  ,   1.  ],
       [100.  ,   0.  ,  45.  ,   1.  ],
       [ 90.  ,   0.  ,  52.  ,   1.  ],
       [ 90.  ,   0.  ,  54.  ,   1.  ],
       [ 35.  ,   1.  ,  30.  ,   0.  ],
       [ 30.  ,   0.  ,  52.  ,   0.  ],
       [ 25.  ,   1.  ,  26.  ,   0.  ],
       [ 52.  ,   0.  ,  49.  ,   0.  ],
       [  9.  ,   0.  ,  22.  ,   0.  ],
       [ 63.  ,   1.  ,  34.  ,   1.  ],
       [ 72.  ,   1.  ,  60.  ,   0.  ],
       [ 16.  ,   1.  ,  28.  ,   0.  ],
       [ 92.  ,   0.  ,  58.  ,   1.  ],
       [106.  ,   1.  ,  77.  ,   1.  ],
       [  2.5 ,   1.  ,  67.  ,   0.  ],
       [  9.  ,   0.  ,  27.  ,   0.  ],
       [ 32.  ,   0.  ,  48.  ,   1.  ],
       [ 32.  ,   0.  ,  45.  ,   0.  ],
       [ 55.  ,   1.  ,  49.  ,   1.  ],
       [ 52.  ,   1.  ,  36.  ,   0.  ],
       [ 28.  ,   0.  ,  65.  ,   1.  ],
       [ 20.  ,   0.  ,  32.  ,   0.  ],
       [ 14.7 ,   0.  ,  49.  ,   0.  ],
       [ 22.3 ,   1.  ,  67.  ,   0.  ],
       [ 34.8 ,   0.  ,  22.  ,   0.  ],
       [ 84.  ,   0.  ,  49.  ,   1.  ],
       [ 19.  ,   1.  ,  43.  ,   0.  ],
       [160.  ,   1.  ,  61.  ,   1.  ],
       [ 65.  ,   0.  ,  43.  ,   1.  ],
       [ 55.  ,   0.  ,  52.  ,   0.  ],
       [  4.6 ,   1.  ,  51.  ,   0.  ],
       [102.  ,   1.  ,  66.  ,   1.  ],
       [ 20.  ,   1.  ,  29.  ,   0.  ],
       [ 62.  ,   0.  ,  62.  ,   0.  ],
       [ 55.  ,   1.  ,  56.  ,   1.  ],
       [ 45.6 ,   1.  ,  61.  ,   0.  ],
       [ 40.  ,   0.  ,  56.  ,   0.  ],
       [ 24.  ,   0.  ,  41.  ,   0.  ],
       [ 35.  ,   1.  ,  24.  ,   0.  ],
       [ 48.  ,   0.  ,  60.  ,   0.  ],
       [ 20.  ,   0.  ,  43.  ,   0.  ],
       [ 40.7 ,   0.  ,  57.  ,   0.  ],
       [ 15.  ,   1.  ,  23.  ,   0.  ],
       [  0.25,   0.  ,  53.  ,   0.  ],
       [152.  ,   1.  ,  71.  ,   1.  ],
       [ 39.8 ,   0.  ,  20.  ,   0.  ],
       [ 12.  ,   0.  ,  27.  ,   0.  ],
       [ 30.  ,   1.  ,  69.  ,   1.  ],
       [120.  ,   1.  ,  58.  ,   1.  ],
       [  1.7 ,   1.  ,  37.  ,   0.  ],
       [ 36.  ,   1.  ,  32.  ,   1.  ],
       [ 96.  ,   1.  ,  33.  ,   1.  ],
       [ 38.  ,   0.  ,  32.  ,   1.  ],
       [ 90.  ,   1.  ,  60.  ,   0.  ],
       [  9.  ,   1.  ,  71.  ,   0.  ],
       [ 25.8 ,   0.  ,  30.  ,   0.  ],
       [ 22.  ,   0.  ,  62.  ,   0.  ],
       [ 38.8 ,   0.  ,  54.  ,   0.  ],
       [ 72.  ,   1.  ,  42.  ,   1.  ],
       [ 89.  ,   1.  ,  62.  ,   0.  ],
       [ 41.  ,   0.  ,  51.  ,   1.  ],
       [ 89.  ,   1.  ,  71.  ,   1.  ],
       [ 25.  ,   0.  ,  29.  ,   0.  ],
       [ 52.  ,   1.  ,  55.  ,   1.  ],
       [115.  ,   0.  ,  54.  ,   0.  ],
       [ 66.  ,   0.  ,  55.  ,   1.  ],
       [ 18.6 ,   1.  ,  26.  ,   0.  ],
       [152.  ,   1.  ,  56.  ,   1.  ],
       [  1.8 ,   1.  ,  28.  ,   0.  ],
       [ 35.  ,   0.  ,  44.  ,   0.  ],
       [  4.  ,   0.  ,  24.  ,   0.  ]])

In [ ]:
arr = np.arange(11)
arr[4:9] = np.multiply(arr[4:9],-1)
print(arr)

[ 0  1  2  3 -4 -5 -6 -7 -8  9 10]

In [ ]:
arr = np.array(arr)
print(arr[0].reshape((3,3)))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [ ]:
rand = np.random.RandomState(30)
X = rand.randint(0, 30, (3, 3))
print(X)
np.sort(X, axis=0)

[[ 5  5 13]
 [13 20 12]
 [23  2 21]]

array([[ 5,  2, 12],
       [13,  5, 13],
       [23, 20, 21]])

In [ ]:
arr = np.array([1, 2, 3, 4], ndmin=4)
print(arr)
print('number of dimensions :', arr.ndim)

[[[[1 2 3 4]]]]
number of dimensions : 4

In [ ]:
rand = np.random.RandomState(30)
X = rand.randint(0, 30, (3, 3))
print(X)
X[[0,2]] = X[[2,0]]
print(X)

[[ 5  5 13]
 [13 20 12]
 [23  2 21]]
[[23  2 21]
 [13 20 12]
 [ 5  5 13]]

In [ ]:
my_matrix = np.array([[1, 2, 1], [3, 4, 7], [3, 6, 3]])
print("Matrix")
for row in my_matrix:
    print(row)
rank = np.linalg.matrix_rank(my_matrix)
print("Rank of the given Matrix is : ",rank)

Matrix
[1 2 1]
[3 4 7]
[3 6 3]
Rank of the given Matrix is :  2